services:
  gtfs_db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
    volumes:
      - gtfs_pg:/var/lib/postgresql/data
    secrets:
      - db_password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 3s
      retries: 30

  redis:
    image: redis:7-alpine
    command: redis-server --aclfile /usr/local/etc/redis/users.acl
    volumes:
      - ../redis/users.acl:/usr/local/etc/redis/users.acl:ro

  gtfs_importer:
    build:
      context: ..
      dockerfile: docker/Dockerfile.importer
    restart: unless-stopped
    depends_on:
      gtfs_db:
        condition: service_healthy
    secrets:
      - db_password
      - redis_password
    environment:
      DB_PASSWORD_FILE: /run/secrets/db_password
      DB_HOST: gtfs_db
      DB_PORT: 5432
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      REDIS_PASSWORD_FILE: /run/secrets/redis_password
      REDIS_USERNAME: ${REDIS_USER}
      REDIS_HOST: redis
      REDIS_PORT: 6379

  rt_poller:
    build:
      context: ..
      dockerfile: docker/Dockerfile.rt_poller
    restart: unless-stopped
    depends_on:
      gtfs_db:
        condition: service_healthy
      redis:
        condition: service_started
      gtfs_importer:
        condition: service_started
    secrets:
      - db_password
      - redis_password
    environment:
      DB_PASSWORD_FILE: /run/secrets/db_password
      DB_HOST: gtfs_db
      DB_PORT: 5432
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      REDIS_PASSWORD_FILE: /run/secrets/redis_password
      REDIS_USERNAME: ${REDIS_USER}
      REDIS_HOST: redis
      REDIS_PORT: 6379

  stop_writer:
    build:
      context: ..
      dockerfile: docker/Dockerfile.stop_writer
    restart: unless-stopped
    depends_on:
      gtfs_db:
        condition: service_healthy
      redis:
        condition: service_started
      gtfs_importer:
        condition: service_started
    secrets:
      - db_password
      - redis_password
    environment:
      DB_PASSWORD_FILE: /run/secrets/db_password
      DB_HOST: gtfs_db
      DB_PORT: 5432
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      REDIS_PASSWORD_FILE: /run/secrets/redis_password
      REDIS_USERNAME: ${REDIS_USER}
      REDIS_HOST: redis
      REDIS_PORT: 6379

secrets:
  db_password:
    file: ../secrets/db_password
  redis_password:
    file: ../secrets/redis_password

volumes:
  gtfs_pg:
