services:
  gtfs_db:
    image: postgres:17
    environment:
      POSTGRES_DB: test
      POSTGRES_USER: test
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
    ports:
      - "127.0.0.1:5433:5432"
    volumes:
      - gtfs_pg:/var/lib/postgresql/data
    secrets:
      - db_password

secrets:
  db_password:
    file: ../secrets/db_password

volumes:
  gtfs_pg:
